<body class="session">

<br>
<h2 class="header">cloudapp</h2><i class="fa fa-cloud" style="margin-top:10px; color:#2196f3;"></i>
<br><br><br><br>

<p class="tagline">The wait is over.<br><span class="tag">Book and see your <br>doctor online.</span></p>


<div class="logins">
<% if current_patient %>
  Signed in as <%= current_patient.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login', {class: "waves-effect waves-light blue btn"}%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'GET STARTED', '/signup', {class: "waves-effect waves-light blue btn"} %><br><br>
<% end %>
</div>
<br><br><br><br><br>

<div class="section white">
  <div class="row container">

  </div>
</div>


<div class="parallax-container">
  <div class="parallax"><img src="dr"></div>
</div>

</body>


<!-- <div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <%= form_tag '/login' do %>

      <div class="input-field">
        <%= text_field_tag :email, nil, class: "validate"%>
        <label for="email">Email: </label>
      </div>

      <div class="input-field">
        <%= password_field_tag :password, nil, class: "validate"%>
        <label for="email">Password: </label>
      </div>
      <%= submit_tag :submit %>
      <% end %>
    </div>
  </div>
</div> -->
