<body class="session">

<br>
<h3 class="header">cloudapp</h3><i class="fa fa-cloud fa-2x" style="margin-top:-5px; color:#2196f3;"></i>
<br><br><br><br><br>

<p class="tagline">The wait is over.<br><span class="tag">Book and see<br>your doctor online.</span></p>


<div class="logins" style="margin-top:-20px">
<% if current_patient %>
  <p style="font-family: Futura; font-size: 25px; color: white;">Signed in as <%= current_patient.first_name %>.<br></p>
    <a style="text-align:center;"><%= link_to "CREATE APPOINTMENT", new_patient_appointment_path(current_patient), {class: "waves-effect waves-blue blue btn"} %></a>&nbsp;&nbsp;&nbsp;
    <a style="text-align:center;"><%= link_to "VIEW MY APPOINTMENTS", patient_appointments_path(current_patient), {class: "waves-effect waves-blue blue btn"} %></a>&nbsp;&nbsp;&nbsp;
    <a style="text-align:center;"><%= link_to "Logout", '/logout', {class: "waves-effect waves-blue blue btn"} %></a>
<% else %>
  <p style="font-size: 16px; margin-top:-30px;"><%= link_to 'Login', '/login', {class: "waves-effect waves-blue blue btn-large"}%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'GET STARTED', '/signup', {class: "waves-effect waves-blue blue btn-large"} %><br><br></p>
<% end %>
</div>
<br><br><br><br><br><br><br><br>



<div class="section white" style="color:#424242;">
  <div class="row container">
    <br><br><br><br><h4 class="white" style="color:#424242;">Seamless Scheduling</h4>
    <p class="white" style="font-size:22px;">
      See your doctor anytime, anywhere. You virtual doctor's appointment has arrived.
    </p>
  </div>
</div>

<div class="section cyan lighten-5">
    <br><br><br><br>
    <div class="row" style="text-align:center">

    <div class="col s4" style="color:#424242;">
      <i class="fa fa-bolt fa-5x" style="color:#424242;"></i>
      <p style="color:#424242; font-family:Futura; font-size:18px;">
      Swift and easy registration,<br>scheduling and re-scheduling. Boom.
      </p>
    </div>
    <div class="col s4" style="color:#424242;">
      <i class="fa fa-users fa-5x" style="color:#424242;"></i>
      <p style="color:#424242; font-family:Futura; font-size:18px;">
        Virtual appointments allow you to<br>see your doctor without the wait.
      </p>
    </div>
    <div class="col s4" style="color:#424242;">
      <i class="fa fa-cog fa-5x" style="color:#424242;"></i>
      <p style="color:#424242; font-family:Futura; font-size:18px;">
      Easy-to-use. Whether you're 7 or 70,<br>on your desktop or mobile device.
      </p>
    </div>

  </div>
</div>

<div class="section blue" style="height:100px; color: white; text-align:center;">
  <br><i class="fa fa-mobile fa-2x">&nbsp;&nbsp;&nbsp;&nbsp;</i><i class="fa fa-envelope-o fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter fa-2x"></i>&emsp;&nbsp;&nbsp;<i class="fa fa-facebook-square fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-instagram fa-2x"></i>
  <div class="row container">

  </div>
</div>

</body>

<!-- <div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <%= form_tag '/login' do %>

      <div class="input-field">
        <%= text_field_tag :email, nil, class: "validate"%>
        <label for="email">Email: </label>
      </div>

      <div class="input-field">
        <%= text_field_tag :password, nil, class: "validate"%>
        <label for="email">Password: </label>
      </div>

      <% end %>
    </div>
  </div>
</div> -->
