<body class="form">

<br><br><br><br>
<div class="logoheader" style="text-align:center"><%= image_tag('logooo.png') %></div>

<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">

      <%= form_for :patient, url: '/patients' do |f| %>

      <div class="input-field">
          <%= f.text_field :code, class: "validate"%>
          <label for="email" style="color:#2196f3;">Referral code</label>
        </div>

        <div class="input-field">
            <%= f.text_field :ssn, class: "validate"%>
            <label for="email" style="color:#2196f3;">SSN (Last 4 digits)</label>
          </div>

          <div class="input-field">
              <%= f.password_field :password, class: "validate"%>
              <label for="email" style="color:#2196f3;">Password</label>
            </div>

            <div class="input-field">
                <%= f.password_field :password_confirmation, class: "validate"%>
                <label for="email" style="color:#2196f3;">Re-type password</label>
              </div>

      <div class="endbuttons" style="text-align:center;"><%= f.submit "Submit", {class: "waves-effect waves-blue blue btn"} %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Home", '/', {class: "waves-effect waves-blue blue btn"} %></div>

      <% end %>
    </div>
  </div>
</div>
</body>


<!-- <%= form_for :patient, url: '/patients' do |f| %>

  Referral Code <%= f.text_field :code %>
  Last 4 Digits of Social Security <%= f.text_field :ssn %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %> -->
