<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Referral Code <%= f.text_field :code %>
  Last 4 Digits of Social Security <%= f.text_field :ssn %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
