<body class="appts">
  <%= image_tag('cloudapp-background.png', class: "cloud-back") %>
  <div id="sider", style="margin-left: 2%">
    <ul id="slide-out" class="side-nav fixed">

      <%= image_tag('cloudapp-logo.png', class: "cloud") %>


      <h5>Appointments</a></h5>
      <% @appointments.each do |appt| %>
      <p><%= image_tag('dr-1.png') %>&emsp;Dr. Carecloud</p>
      <p><%= appt.start_time.strftime("%m/%d/%Y, at %I:%M%p") %></p>
      <% end %>
      <% if current_patient %>
        <%= link_to "New", new_patient_appointment_path(current_patient), class: "waves-effect waves-light blue btn" %>
      <% end %>

    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>

  <nav>
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_patient %>
          <li><%= image_tag('dr-1.png', class: "dr1") %><a href="sass.html"><%= @current_patient.first_name %>&nbsp;<%= @current_patient.last_name %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <%= image_tag('video-not-started.png', class: "vid") %>

</nav>
<% if @appointment %>
<%= render 'show' %>
<% else %>
<%= image_tag('video-not-started.png', class: "vid") %>
<% end %>
</body>
