<body class="appts">
  <%= image_tag('cloudapp-background.png', class: "cloud-back") %>
  <div id="sider">
    <ul id="slide-out" class="side-nav fixed">
      <%= image_tag('cloudapp-logo.png', class: "cloud") %>
      <h5>Appointments</a></h5>
      <% @appointments.each do |appt| %>
      <li><p><%= appt.start_time %><%= link_to "Start", appt %></p></li>
      <% end %>
      <h5>Physicians</a></h5>
      <p><%= image_tag('dr-1.png', class: "dr1") %>&emsp;Dr. Octavius</p>
      <p><%= image_tag('dr-2.png', class: "dr1") %>&emsp;Dr. Parker</p>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>

  <nav>
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= image_tag('dr-1.png', class: "dr1") %><a href="sass.html"><%= @current_patient.first_name %>&nbsp;<%= @current_patient.last_name %></a></li>
        <li><a href="badges.html">Logout</a></li>
      </ul>
    </div>
  </nav>
  <%= image_tag('video-not-started.png', class: "vid") %>
</body>
